.App {
  padding: 20px;
  text-align: start;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}



.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.orange{
  color: orange;
}

.purple{
  color: purple;
}

.rate-container{
  margin-top: 20px;
  border-top: 2px solid yellow;
}

.rate-container .fa-star{
  font-size: 1.8rem;
  cursor: pointer;
}