.App {
  padding: 20px;
  text-align: start;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}



.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.login-container{
  width: 50%;
  margin: 0% 25%;
}

input, textarea{
  width: 100%;
  margin: 8px 0;
  font-size:  0.8rem;
}

button{
  color: #444;
  background-color: #f3f3f3;
  padding: 5px 10px;
  border-radius:  2px;
  font-weight: bold;
  font-size: 1.2rem;
  outline: none;
}

button:disabled{
  color: #f3f3f3;
  background-color: #444;
  cursor: not-allowed;
}

.orange{
  color: orange;
}

.purple{
  color: purple;
}

.rate-container{
  margin-top: 20px;
  border-top: 2px solid yellow;
}

.rate-container .fa-star{
  font-size: 1.8rem;
  cursor: pointer;
}

.movie-item{
  display: grid;
  grid-template-columns: 1fr auto auto;
  justify-content: start;
}

.movie-item svg{
  font-size: 1.2rem;
  margin: 16px 10px;
}

.fa-trash{
  color: crimson;
}

h1{
  color: orange;
}

h1 .fa-film{
  color: white;
  transform: rotate(30deg);
}